<div>
	<!-- Grab new images and display them -->
	<div ng-repeat = "pics in View.pics track by $index">
		<!-- <img src="{{pics.url}}" style="height: 150; width: 150;" /> -->
		<embed src={{View.fileURL}}></embed>

		<div>
			<form>
				<input type="text" name="commentText" ng-model="View.commentText[$index]" />
				<button name="like" ng-model="View.like[$index]" ng-click="View.likePic($index)">Likes</button>
				<button ng-click="View.comment($index)">Click to comment</button>
			</form>
		</div>
	</div>
</div>
